li(data-theme='#{post.postTotalReplies < 5 ? 'a' : 'e'}')
  a(href='#')
    h3.post-text #{post.postText}
    p
      span.prettydate.post-date(title='#{post.postCreated.replace(' ','T')}')
      | ...
      #{post.postTotalAgrees} agrees / #{post.postTotalDisagrees} disagrees / #{post.postTotalNewsworthies} newsworthies
    p
      span.ui-li-count #{post.postTotalReplies}
