li(data-theme='#{post.postTotalReplies < 5 ? 'a' : 'e'}', onClick='loadThread(#{post.postId});return false;')
  h3.post-text!= post.postText.replace(/\\/g, '')
  p
    span.prettydate.post-date(title='#{post.postCreated.replace(' ','T')}')
    | ...
    #{post.postTotalAgrees} agrees / #{post.postTotalDisagrees} disagrees / #{post.postTotalNewsworthies} newsworthies
  - if (post.postTotalReplies > 0)
    p
      span.ui-li-count #{post.postTotalReplies}
